@page "/Usuario/{login:int}"
@using ProyectoPracticaII.Client.Models;
@inject HttpClient http 
@inject IHttpService Ihttp 




<h3>Motocicleta</h3> 


<br />

<table> 
    <tr> 
        <th>IdUsuario</th> 
        <th>IdMoto</th>
        <th>Patente</th> 
        <th>Marca</th>
        <th>Modelo</th>
        <th>Año</th>
        <th>Aseguradora</th>
    </tr>

    @if (motocicletas == null)
    {
        <tr>Cargando...</tr>
    }
    else if (motocicletas.Count == 0)
    {
        <tr>No existen datos</tr>
    }
    else
    {
        @foreach(var item in motocicletas)
        {
          <tr>
              <td>@item.IdUsuario</td>
              <td>@item.IdMoto</td>
              <td>@item.Marca</td>
              <td>@item.Modelo</td>
                <td>@item.Patente</td>
                <td>@item.Año</td>
                <td>@item.Aseguradora</td>



           </tr>
        }
    }
    
</table>


<br/> 

<EditForm Model="NuevaMotocicleta">
    <label>Marca</label>
    <InputText @bind-Value=NuevaMotocicleta.Marca>Marca</InputText>
    <label>Modelo</label>
    <InputText @bind-Value=NuevaMotocicleta.Modelo>Modelo</InputText>
    <label>Año</label>
    <InputNumber @bind-Value=NuevaMotocicleta.Año>Año</InputNumber> 
    <label>Patente</label>
    <InputText @bind-Value=NuevaMotocicleta.Patente>Patente</InputText>
    <label>Aseguradora</label>
    <InputText @bind-Value=NuevaMotocicleta.Aseguradora>Aseguradora</InputText>


    <button @onclick="(()=>CrearMoto(NuevaMotocicleta))">Crear Motocicleta</button>




</EditForm>

<br/> 

<EditForm Model="NuevaMotocicleta">
    <label>IdMoto</label>
    <InputNumber @bind-Value=NuevaMotocicleta.IdMoto>Marca</InputNumber>
   
    <button @onclick="(()=>EliminarMoto(NuevaMotocicleta.IdMoto))">Eliminar</button>

</EditForm> 


<br /> 

<EditForm Model="NuevaMotocicleta">
    <label>IdMoto</label>
    <InputNumber @bind-Value=NuevaMotocicleta.IdMoto>Marca</InputNumber>
    <label>Marca</label>
    <InputText @bind-Value=NuevaMotocicleta.Marca>Marca</InputText>
    <label>Modelo</label>
    <InputText @bind-Value=NuevaMotocicleta.Modelo>Modelo</InputText>
    <label>Año</label>
    <InputNumber @bind-Value=NuevaMotocicleta.Año>Año</InputNumber>
    <label>Patente</label>
    <InputText @bind-Value=NuevaMotocicleta.Patente>Patente</InputText>
    <label>Aseguradora</label>
    <InputText @bind-Value=NuevaMotocicleta.Aseguradora>Aseguradora</InputText>

    <button @onclick="(()=>ActualizarMoto(NuevaMotocicleta))">Actualizar</button>

</EditForm>


@code {
    List<Motocicleta> motocicletas;
    Motocicleta NuevaMotocicleta = new Motocicleta();
  [Parameter]public int login { get; set; }


    protected override async Task OnInitializedAsync()
    {
        base.OnInitializedAsync();
        await Leer(); 
    }

  

   

    
    private async Task Leer()
    {
        
        var respuesta = await Ihttp.Get<List<Motocicleta>>($"api/Motocicleta/{login}"); 
        if (!respuesta.Error)
        {
            motocicletas = respuesta.Respuesta;
        }
    }

    
    public async Task CrearMoto (Motocicleta motocicleta)
    {
        var resultado = await http.PostAsJsonAsync("api/Motocicleta", motocicleta); 
    } 

    public async Task EliminarMoto(int id)
    {
        var resultado = await http.DeleteAsync($"api/Motocicleta/{id}");
    }

    public async Task ActualizarMoto(Motocicleta motocicleta)
    {
        var result = await http.PutAsJsonAsync($"api/Motocicleta/{motocicleta.IdMoto}", motocicleta); 
    }


}
